#!/usr/bin/env zsh

function tabc() {
  NAME=$1; if [ -z "$NAME" ]; then NAME="Default"; fi
  # if you have trouble with this, change
  # "Default" to the name of your default theme
  echo -e "\033]50;SetProfile=$NAME\a"
}

function tab-reset() {
    NAME="Default"
    echo -e "\033]50;SetProfile=$NAME\a"
}

function colorssh() {
    if [[ -n "$ITERM_SESSION_ID" ]]; then
        trap "tab-reset" INT EXIT
        if [[ "$*" =~ ".*.sea.interloc.*" ]]; then
            tabc sea.interloc
        elif [[ "$*" =~ ".*informer.*" ]]; then
            tabc sea.interloc
        else
            tabc Other
        fi
    fi
    ssh $*
}
compdef _ssh tabc=ssh

alias ssh="colorssh"

function tmuxto() {
    ssh -t $@ -- tmux a
}

function sortinplace() {
    TMPSWAP=$1.$RANDOM.sorted
    cat $1 | sort >$TMPSWAP && mv $TMPSWAP $1
}

function adb-text() {
    DEVICES=(`adb devices | grep 'device$' | cut -f 1`)
    DEVICES_DISPLAY=(`adb devices -l | grep ' device '`)
    if [[ ${#DEVICES} -eq 1 ]]; then
        DEVICE=$DEVICES[1]
    else
        echo "Which device?"
        IDX=1
        for DEVICE in $DEVICES; do
            echo $IDX $DEVICE
            IDX=$(($IDX+1))
        done
        read USER_SELECTION
        DEVICE=$DEVICES[$USER_SELECTION]
    fi

    while [[ true ]]; do
        read INPUT_TEXT
        INPUT_TEXT=$(echo "'$INPUT_TEXT'" | sed -e 's/\ /%s/g')
        adb -s $DEVICE shell input text $INPUT_TEXT
    done
}

