[user]
	name = Gary Spreder
	email = garyspreder@gmail.com
[core]
	autocrlf = input
[diff]
	tool = kdiff3
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool "bcomp"]
    trustExitCode = true
    cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = kdiff3
[mergetool "bcomp"]
    trustExitCode = true
    cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[color]
	ui = auto
[push]
	default = simple
[alias]
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	servepushable = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths --enable=receive-pack .git/
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    set-url = !sh -c 'git remote set-url --push $1 $2 && git remote set-url $1 $2' -
[commit]
	template = ~/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gitflow "bugfix.finish"]
	keeplocal = false
	keepremote = true
[gitflow "feature.finish"]
	keepremote = true
	keeplocal = false
[gitflow "hotfix.finish"]
	keepremote = true
	keeplocal = false
[gitflow "release.finish"]
	keepremote = true
	keeplocal = false

